html
  head
    title="Catalyst Efficiency"
    style
      include styles.css
    link(rel="stylesheet",
         href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",
         integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u",
         crossorigin="anonymous")

body
  script(src="http://d3js.org/d3.v3.min.js", charset="utf-8")
  script(src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js", charset="utf-8")

  div#popup.hidden
  div#sidebar.pull-left
    div#sidebar-top
      h1#title
        ="CATALYST"
        span(style="color: #ACD269")=" EFFICIENCY"

    div#sidebar-bottom
      div.box.opened
        h3(style="cursor: pointer; user-select: none",
            onclick="document.getElementsByClassName('inner-box')[0].classList.toggle('hidden');\
                     document.getElementsByClassName('box')[0].classList.toggle('opened');")
            ="CUSTOMIZATIONS"
        div.inner-box
          div.filter_option
            input#volcano(type="checkbox", name="volcano", checked="checked")
            ="    volcano plot view"
          div.filter_option
            ="Minimum: "
            span#minimum_label=""
            input#minumum(type="range", min="-3", max="3", step="0.01", value="1.2")
          div.filter_option
            ="Low: "
            span#low_label=""
            input#low(type="range", step="0.01")
          div.filter_option
            ="High: "
            span#high_label=""
            input#high(type="range", step="0.01")

      div.box
        h3(style="cursor: pointer; user-select: none",
            onclick="document.getElementsByClassName('inner-box')[1].classList.toggle('hidden');\
                      document.getElementsByClassName('box')[1].classList.toggle('opened');")
          ="FILTERS"
        div.inner-box.hidden
          form(action="/graph", method="GET")
            div.innerbox-header
              span.glyphicon.glyphicon-search.pull-left
              span.glyphicon.glyphicon-pencil.pull-right
            div.filter_option
              input#formula(type="checkbox", name="formula", checked=filters["formula"])
              ="    chemical symbols"
              input.pull-right(type="radio", name="color", value="formula")
              input#formula_input.hidden(type="text", name="chem_formula_input")
            div.filter_option
              input#mpid(type="checkbox", name="mpid", checked=filters["mpid"])
              ="    MPID"
              input.pull-right(type="radio", name="color", value="mpid")
              input#mpid_input.hidden(type="text", name="mpid_input")
            div.filter_option
              input#miller(type="checkbox", name="miller", checked=filters["miller"])
              ="    Miller Index"
              input.pull-right(type="radio", name="color", value="miller")
              input#miller_input.hidden(type="text", name="miller_input")
            div.filter_option
              input#top(type="checkbox", name="top", checked=filters["top"])
              ="    Top     "
              select#top_input.hidden
                option(value="true")="True"
                option(value="false")="False"
              input.pull-right(type="radio", name="color", value="top")
            div.filter_option
              input#coordination(type="checkbox", name="coordination", checked=filters["coordination"])
              ="    Coordination"
              input.pull-right(type="radio", name="color", value="coordination")
              input#coordination_input.hidden(type="text", name="coordination_input")
            div(style="height: 20px")
            div.filter_option
              input#next_nearest_coord(type="checkbox", name="next_nearest_coord", checked=filters["next_nearest_coord"])
              ="    Next nearest coordinate"
              input.pull-right(type="radio", name="color", value="next_nearest_coord")
              input#next_nearest_coord_input.hidden(type="text", name="next_nearest_coord_input")
            div.filter_option
              input#neighbor_coord(type="checkbox", name="neighbor_coord", checked=filters["neighbor_coord"])
              ="    Neighbor coordination"
              input.pull-right(type="radio", name="color", value="neighbor_coord")
              input#neighbor_coord_input.hidden(type="text", name="neighbor_coord_input")

      div.box
        h3(style="cursor: pointer; user-select: none",
            onclick="document.getElementsByClassName('inner-box')[2].classList.toggle('hidden');\
                          document.getElementsByClassName('box')[2].classList.toggle('opened');")
          ="SAVED POINTS"
        div.inner-box.hidden
          p#resetPoints.hidden="Click to reset"
          ul#selectedPoints(style="padding-top: 10px;")
            p="Click on a point to add it to your list."

      div.box
        h3(style="cursor: pointer; user-select: none",
            onclick="document.getElementsByClassName('inner-box')[3].classList.toggle('hidden');\
                          document.getElementsByClassName('box')[3].classList.toggle('opened');")
          ="EQUATION"
        div.inner-box.hidden
          span(
            style="font-family: monospace; cursor: pointer; user-select: none"
          )=equation
          form#equation_form.form-horizontal(action="/db", method="GET")
            div.row(style="text-align: center")
              div.col-md-5
                h3="dE"
              div.col-md-7
                h3="coefficient"
            each parameter, i in parameters
              div.form-group
                label.col-md-5.control-label(for="coefficient_input_"+i)=parameter.name
                div.col-md-7
                  input.form-control(type="number", name=parameter.name, value=parameter.value)
            input.btn.btn-block.btn-info(type="submit", value="UPDATE FORMULA")

  div#graph.pull-left

  script(src="graph.js", data=data)
